
html {
	font-size: 100%
}

body {
	background-color:#969696;
}

#container {
	align-content: center;
	background-color: #FFFFFF;
	margin: 0 auto;
}

h1 {
	color:#50B573;
	font-family: "Times New Roman", serif;
}

h2{
	font-size: 1rem;
	font-weight:bold;
	font-style: italic;
}

h3{
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
}

#subheads {
	font-style: italic;
	font-size: 2rem;
}

p {
	font-family: font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1rem;
}

#p1 {
	font-weight: bold;
	font-size:1rem;
}

a:link {
    text-decoration: none;
}


#nav {
    padding: 0;
	list-style-type: none;
}

#nav {
	padding:70px;
}

#nav li {
  margin: 0;
  padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav {
	display: block;
	color:#ffffff;
	margin: 0;
	padding:4px;
	background-color: #B57EE8;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
}

#nav a:hover, a:active {
    background-color: #ECCB98;
		padding: 0;
}

img {
  border:none;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
