
html {
	font-size: 100%
}

body {
	background-color:#969696;
}

h1 {
	color:#666666;
}

h2 {
	font-style: italic;
}

p {
	font-family: 'Noto Serif KR', sans-serif;
  font-size: 1rem;
}

a:link {
    text-decoration: none;
}

#container {
	align-content: center;
	background-color: #FFFFFF;
	margin: 0 auto;
}

#nav {
  padding: 0;
	list-style-type: none;
	background-color: blue;
}

#nav a:hover, a:active {
    background-color: #B5DFFF;
}

img {
  border:none;
}
