
html {
	font-size: 100%
}

body {
	background-color:#FFF;
	font-family: 'Source Sans Pro', sans-serif;
}

/*.container {
	padding: 10px;
	background: #fff;
  border-radius: 5px;
	margin: 45px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
/*	display:flex;
	flex-flow: row;*/

#container1 {
	align-content: center;
	background-color: #FFFFFF;
	margin: 0 auto;
	border: 20px solid #ffffff;
}

.menutrigger{
	order:0;
	font-size:1.75em;
	width:2em;
}

.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #6a7ff7;
	border-radius: 3px;
}

.item{
	display:none;
}

/*.container .item{
	display:none;
}*/

h1 {
	color:#50B573;
	font-family: 'Anton', sans-serif;
}

h2{
	font-size: 1rem;
	font-weight:bold;
	font-style: italic;
}

h3{
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
}

#subheads {
	font-style: italic;
	font-size: 2rem;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}

#p1 {
	font-weight: bold;
	font-size:1rem;
}

a:link {
    text-decoration: none;
		color: #72459B
}


/*#nav {
    padding: 0;
	list-style-type: none;
}

#nav {
	padding:70px;
}

#nav li {
  margin: 0;
  padding: 0;
	border-bottom: 3px solid #ffffff;
	text-decoration: none;
}

#nav {
	color:#ffffff;
	margin: 0;
	padding:0;
	background-color: #B57EE8;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	border: 15px solid #ffffff;
}

#nav a:hover, a:active {
    background-color: #ECCB98;
		padding: 0;
}*/

img {
  border:none;
}

.cards{
	margin:0;
	padding:0;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	gap:20px;
	grid-template-areas:
	"a a b"
	"c c d"
	"e f g";
}

.cards li{
background-color: #ECBAFF;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5px;
}

.card1{
grid-area:a;
}

.card2{
grid-area:b;
}

.card3{
grid-area:c;
}

.card4{
grid-area:d;
}

.card5{
grid-area:e;
}

.card6{
grid-area:f;
}

.card7{
grid-area:g;
}

@media (max-width:800px){
	.cards{
		display:grid;
    grid-template-columns:200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a a a"
				"b b c"
				"d d d"
				"e f g";
			}
}

@media (max-width:500px){
	.cards{
		display:grid;
    grid-gap: 20px;
		grid-auto-flow: column;
		grid-template-columns: 150px 150px;
		align-items: start;
		grid-template-areas:
        "a a"
				"b b"
				"d d"
				"c c"
				"e e"
				"f g";
			}
}

@media screen and (min-width:600px){
	.container {
		display:flex;
	}

	.item{
		display:block;
	}

	.container .item{
		border-top:none;
	}

	.menutrigger{
		display:none;
	}

	.container{
		order:1;
	}
}


#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
